<h1>1 adresse = 1 faire part... ou plus si affinité !</h1>
<p>Veuillez saisir votre adresse.</p>

<%= form_for @current_user do |f| %>
	<div class="user_name row">
		<div id="firstname" class="col-lg-2"><%= f.label "Prénom" %><br /><%= f.text_field :firstname %></div>
		<div id="lastname" class="col-lg-2"><%= f.label "Nom_de_famille" %><br /><%= f.text_field :lastname %></div>
		<div id="email" class="col-lg-offset-3 col-lg-2"><%= f.label "Courriel" %><br /><%= f.text_field :email %></div>
	</div>
	<br />
	<div class="user_address">
		<div class="row">
			<div id="street" class="col-lg-2"><%= f.label "Numéro_et_voie" %><br /><%= f.text_field :street %></div>
			<div id="zip_code" class="col-lg-2"><%= f.label "Code_postal" %><br /><%= f.text_field :zip_code %></div>
			<div id="town" class="col-lg-2"><%= f.label "Ville" %><br /><%= f.text_field :town %></div>
			<div id="phone" class="col-lg-offset-1 col-lg-2"><%= f.label "Téléphone" %><br /><%= f.telephone_field :phone %></div>
		</div>
		<br />
		<div class="row">
			<div class="address_check_box col-lg-12"><%= check_box_tag :address_check_box %><%= label_tag "Je reconnais les informations ci-dessus comme exacte, et assure être domicilié à cette même adresse jusqu'en septembre 2014." %></div>
		</div>
	</div>
	<br />
	<div class="user_message row">
		<div class="col-lg-12" id="message_addres"><%= f.label "Message" %><br /><%= f.text_area :message_address %></div>
	</div>
	<br />
	<div class="row">
		<div class="submit_form col-lg-12" id="submit_address"><%= f.submit "Soumettre" %></div>
	</div>
<% end %>