<% content_for :script do %>
<% end %>

<h1 class="text-center">Rendez-vous le 25 octobre 2014 !</h1>


<div class="row main_grey">
  <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6 col-sm-offset-2 col-md-offset-3 col-lg-offset-3">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
        <li data-target="#carousel-example-generic" data-slide-to="5"></li>
      </ol>

      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag "mm0.jpg", class: "img-responsive" %>
        </div>
        <div class="item">
          <%= image_tag "mm1.jpg", class: "img-responsive" %>
        </div>
        <div class="item">
          <%= image_tag "mm2.jpg", class: "img-responsive" %>
        </div>
        <div class="item">
          <%= image_tag "mm3.jpg", class: "img-responsive" %>
        </div>
        <div class="item">
          <%= image_tag "mm4.jpg", class: "img-responsive" %>
        </div>
        <div class="item">
          <%= image_tag "mm5.jpg", class: "img-responsive" %>
        </div>
      </div>
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
</div>


<h2 class="text-center">Participer à the voice !</h2>
<div class="row main_grey text-center">
  <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6 col-sm-offset-2 col-md-offset-3 col-lg-offset-3">
    <br />
    <%= link_to("Toute la messe en avant première", songs_path) %>
    <%= render(partial: "songs/song", locals: {song: @song}) %>
    <br />
  </div>
</div>

<!-- Carte pour se déplacer -->

<!-- https://maps.google.com/maps?hl=en-US&ll=48.804885,2.147141&spn=0.037536,0.084457&t=m&gl=US&mapclient=embed&cid=1656132335380721569&z=14&iwloc=A -->

<!-- https://maps.google.com/maps?q=48%C2%B019'04.5%22N+1%C2%B059'24.4%22E%4048.3179167,1.9901111&hl=en-US&ie=UTF8&ll=48.175244,1.991272&spn=1.216169,2.702637&t=m&gl=US&mapclient=embed&z=9 -->

<h2 class="text-center">Passer mon badge topographie !</h2>
<div class="row main_grey text-center">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3>Où est l'église ?</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="embed-responsive embed-responsive-4by3">
          <%= image_tag "eglise.jpg", class: "embed-responsive-item img-rounded" %>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="embed-responsive embed-responsive-4by3">
          <div id="map-eglise" class="embed-responsive-item img-rounded">Map</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3>Où est le château ?</h3>
      </div> 
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="embed-responsive embed-responsive-4by3">
          <%= image_tag "chateau.jpg", class: "embed-responsive-item img-rounded" %>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="embed-responsive embed-responsive-4by3">
          <div id="map-chateau" class="embed-responsive-item img-rounded">Map</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Partie pour la soirée -->

<h2 class="text-center">Prendre un cours de rock !</h2>
<div class="row main_grey text-center">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
    <br />
    <p>
      Ce soir avec Manu & Malou c'est... soirée disco !<br />
      Préparez votre veste à paillette, enfilez votre pantalon patte d'éph briant argenté et révisez vos classiques de Abba, Boney M...
    </p>
  </div>
</div>

<!-- Partie liste mariage -->

<h2 class="text-center">Offrir un cadeau à la plus belle des mariées !</h2>
<div class="row main_grey text-center">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <br />
    <p>
      <%= link_to "Lien vers la liste des mariés", "http://www.millemercismariage.com/maloumanu/liste.html", target: "_blank" %>
    </p>
  </div>
</div>

<!-- Partie réponse -->
<h2 class="text-center">Répondre avant le 25 septembre.</h2>
<div class="row main_grey text-center">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <br />
    <p>
      <%= link_to("YES we come !", new_user_path("response")) %><br />
      Merci de répondre en ligne afin de faciliter la collecte et le traitement des réponses.
    </p>
  </div>
</div>

<!-- Partie photos -->

<h2 class="text-center">Partager des photos.</h2>
<div class="row main_grey text-center">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <br />
    <p>
      Bientôt sur le web !
    </p>
    <p>
      Vous pourrez déposer ou récupérer ici les photos du mariages.
    </p>
  </div>
</div>