<!DOCTYPE html>
<html>
<head>
  <title>Mariage Malou et Manu</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="main_grey">
  <div id="head_band" class="main_blue">
    <ul>
      <li class="main_link second_blue">
        <%= link_to "Accueil", welcomes_path %>
      </li>
      <li class="main_link second_blue">
        <%= link_to "Accueil", welcomes_path %>
      </li>
    </ul>
  </div>
  <div>
    <%= yield %>
  </div>
</body>
</html>
