<!DOCTYPE html>
<html>
<head>
  <title>Mariage Malou et Manu</title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body class="main_grey">
  <%= yield :script %>
  <script type="text/javascript">
    $(document).ready(function(){
      // set the date we're counting down to
      var target_date = new Date(2014,9,25,14,0,0).getTime();
      // variables for time units
      var days, hours, minutes, seconds;
      // get tag element
      var countdown = document.getElementById('countdown');
      // update the tag with id "countdown" every 1 second
      setInterval(function () {
        // find the amount of "seconds" between now and target
        var current_date = new Date().getTime();
        var seconds_left = (target_date - current_date) / 1000;
        // do some time calculations
        days = parseInt(seconds_left / 86400);
        seconds_left = seconds_left % 86400;
         
        hours = parseInt(seconds_left / 3600);
        seconds_left = seconds_left % 3600;
         
        minutes = parseInt(seconds_left / 60);
        seconds = parseInt(seconds_left % 60);
         
        // format countdown string + set tag value
        countdown.innerHTML = days +  ' jours ' + hours + ':' + minutes + ':' + seconds;
      },
      1000);
    });
  </script>
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Accueil", welcomes_path, class: "navbar-brand" %>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><%= link_to "Adresse", new_user_path(:address) %></li>
          <li><%= link_to "Réponse", new_user_path(:response) %></li>
          <li><%= link_to "Cartes", welcomes_path %></li>
          <li><%= link_to "Chants", songs_path %></li>
          <li><%= link_to "Soirée", welcomes_path %></li>
          <li><%= link_to "Cadeaux", welcomes_path %></li>
          <li><%= link_to "Photos", welcomes_path %></li>
        </ul>
        <p class="navbar-text navbar-right" id="countdown"></p>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <%= yield %>
  </div>
</body>
</html>
