<!DOCTYPE html>
<html>
<head>
  <title>Mariage Malou et Manu</title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="main_grey">
  <%= yield :script %>
  <div class="container">
    <div id="head_band" class="main_blue row">
        <div class="main_link second_blue col-lg-9">
          <%= link_to "Accueil", welcomes_path %>
        </div>
        <div class="main_link second_blue col-lg-1">
          <%= link_to "Chants", songs_path %>
        </div>
        <div class="main_link second_blue col-lg-1">
          <%= link_to "Adresse", new_user_path(:address) %>
        </div>
        <div class="main_link second_blue col-lg-1">
          <%= link_to "Réponse", new_user_path(:response) %>
        </div>
    </div>
  </div>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
